+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="KubeCF" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Cloud Foundry on Kubernetes</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="info" %}}
Cloud Foundry built for Kubernetes (formerly [SUSE/scf v3 branch](https://github.com/SUSE/scf/tree/v3)).
It makes use of the [Cloud Foundry Operator](https://github.com/cloudfoundry-incubator/cf-operator/), which is incubating
under [Project Quarks](https://www.cloudfoundry.org/project-quarks/).


{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="CFAR" %}}
KubeCF produces builds of CFAR which can be deployed to Kubernetes with Helm and managed by the cf-operator.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="BOSH" %}}
KubeCF already consumes your BOSH release and packages it for Kubernetes
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-lightbulb" title="Integration" %}}
cf-operator extends Kubernetes to understand BOSH
{{% /blocks/feature %}}



{{< /blocks/section >}}





{{< blocks/section >}}



{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/SUSE/kubecf" %}}
We do a [Pull Request](https://github.com/SUSE/kubecf/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{< /blocks/section >}}

